<div class="row">
  <div class="col">
    <h2>
      <a href="{{href}}" target="_blank" class="header-title">
        {{title}}
      </a>
    </h2>
    <p>
      {{{description}}}
    </p>
    <br />
  </div>
</div>
