<div class="row">
  <div class="col">
      <div class="alert alert-warning d-md-none d-sm-block" role="alert">
        Please expand your browser window to use this tool.
      </div>
  </div>
</div>
