<nav class="nav flex-column sidebar">
  <h3 class="pl-3 pt-2 sidebar-title not-active">API Features</h3>
    <a class="sidebar-link not-active" href="/files?init=true">Files</a>
    <a class="sidebar-link not-active" href="/collaborations?init=true">Collaborations</a>
    <a class="sidebar-link not-active" href="/search?init=true">Search</a>
    <a class="sidebar-link not-active" href="/comments?init=true">Comments</a>
    <a class="sidebar-link not-active" href="/metadata?init=true">Metadata</a>
    <a class="sidebar-link not-active" href="/watermarking?init=true">Watermarking</a>
    <a class="sidebar-link not-active" href="/events?init=true">Events</a>
    <a class="sidebar-link not-active" href="/oauth2?init=true">Authentication</a>
    <a class="sidebar-link not-active" href="/representations?init=true">Representations</a>
  <h3 class="pl-3 pt-5 sidebar-title not-active">UI Elements</h3>
    <a class="sidebar-link not-active" href="/content-preview">Content Preview</a>
    <a class="sidebar-link not-active" href="/content-picker">Content Pickers</a>
    <a class="sidebar-link not-active" href="/content-explorer">Content Explorer</a>
    <a class="sidebar-link not-active" href="/content-uploader">Content Uploader</a>
</nav>
