
  <nav class="nav flex-column sidebar" style="border-right: 1px solid #dee5e8;">
    <h3 class="pl-3 pt-2 sidebar-title">Company</h3>
      <a class="sidebar-link" href="#">Box</a>
      <a class="sidebar-link" href="#">Twilio</a>   
  </nav>

