<header class="header">
  <div class="logo">
    <a class="navbar-brand" href="https://developer.box.com/">
      <img alt="" src="/img/logo-color-01.svg" width=205 height=40 class="d-inline-block align-top">
    </a>
  </div>

  <div class="header-container">
    <ul>
      <li class="header-menu-item">
        <button class="btn btn-primary" href="">
        <span class="btn-content">
          Sign up as an Organization
        </span>
      </li>

      <li class="header-menu-item">
        <button class="btn btn-primary" href="">
        <span class="btn-content">
          Sign up as a Volunteer
        </span>
      </li>
    </ul>
  </div>

</header>
