
<!doctype html>
<html>

<head>
  <title>
    Volunteer List
  </title>
  {{> includes/head }}
</head>

<body>
  {{> includes/topNav }}
  
  <div class="container-fluid">
    {{!--Subheader--}}
    <div class="row">
      <div class="col-sm-2">
          {{> includes/sidebar }}
      </div>
      <div class="col-sm-10">
        <div class="file-list tbl-list">
          <div class="file-list-body">
            <div class="file-list-group">
              <ol class="file-list-items">
                <li class="tbl-list-item">
                  <div class="file-list-item-wrapper">
                    <div class="file-list-item-top">
                      <div class="file-list-representation">
                        Hey there guys
                      </div>
                      <div class="file-list-item-bottom">
                        <div class="file-list-item-details">
                          <div class="file-list-name">
                            <div class="item-name">Chloe Langston</div>
                            <div class="file-list-badges">Engineer</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="tbl-list-item">
                  <div class="file-list-item-wrapper">
                    <div class="file-list-item-top">
                      <div class="file-list-representation">
                        Hey there guys
                      </div>
                      <div class="file-list-item-bottom">
                        <div class="file-list-item-details">
                          <div class="file-list-name">
                            <div class="item-name">Chloe Langston</div>
                            <div class="file-list-badges">Engineer</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="tbl-list-item">
                  <div class="file-list-item-wrapper">
                    <div class="file-list-item-top">
                      <div class="file-list-representation">
                        Hey there guys
                      </div>
                      <div class="file-list-item-bottom">
                        <div class="file-list-item-details">
                          <div class="file-list-name">
                            <div class="item-name">Chloe Langston</div>
                            <div class="file-list-badges">Engineer</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> includes/scripts}}
</body>

</html>