<!doctype html>
<html>

<head>
  <title>
    API Navigator
  </title>
  {{> includes/head }}
</head>

<body>
  {{> includes/topNav }}
  <div class="container-fluid">
    {{!--Subheader--}}
    <div class="row">
      Hey I'm a volunteer dashboard.
    </div>
  </div>
  {{> includes/scripts}}
</body>

</html>