{{!-- layouts/base.hbs --}}

<!doctype html>
<html>
  <head>
    <title>
      API Navigator
    </title>

    {{#> head-block}}
      {{!-- Custom <head> goes here --}}
      {{> includes/head }}
    {{/head-block}}
  </head>

  <body>
    {{> includes/topNav }}
    <div class="container-fluid">
      {{!--Grey Subheader--}}
      <div class="row">
          <div class="col mb-2" style="background-color:#f6f7f8; height: 38px;">
          </div>
      </div>
      <div class="row">

        <div class="col-2 d-none d-md-block">
          {{!-- Side menu listing API features and UI elements--}}
          {{> includes/sidebar }}
        </div>

        {{!-- Content --}}
        <div class="col-10">
              {{#> content-block}}
              {{/content-block}}
        </div>

      </div>
    </div>

    {{#> scripts-block}}
      {{> includes/scripts}}
      {{!-- Custom scripts go here --}}
    {{/scripts-block}}

  </body>
</html>
